.loginPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: #F6F6F6;
    width: 100%;
}
  
  .logoset h1{
    position: relative;
    top: 2rem;
    left: 18rem;
    font-weight: bolder;
    font-size: xx-large;
  }
  
  
  .logoset p{
    position: relative;
    top: 2rem;
    left: 11rem;
  }


  .logoset img{
    width: 150%;
    height: 88%;
    margin-left: -8rem;
  }
  
  .loginCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    height: 28rem;
    margin-top: 130px;
    margin-left: 120px; 
    transition: all 0.4s ease;
    opacity: 0.8;
}
  
  .LoginData{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  .LoginData span{
    position: relative;
    left: 230px;
    color: #14B0AD;
  }

  .LoginData .errorSpan{
    margin-top: 1rem;
    margin-left: -12rem;
    color: red;
    font-size: large;
  }
  
  .LoginData div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 50px;
    overflow-wrap: break-word;
    font-size: larger;
    padding: 5px;
  }
  
  .LoginData div input{
    padding: 7px;
    border-radius: 20px;
    width: 250px;
    background-color: transparent;
    color: rgb(0, 0, 0);
  }
  
  .LoginData div input:hover{
    border: 2px solid #14B0AD;
  }

  .LoginData div input:focus{
    width: 100%;
  }
  
  .LoginData label{
    color: rgb(12, 12, 12);
    margin-bottom: 10px;
    }
  
  
  .LoginData button{
    width: max-content;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    margin-left: 100px;
    border-radius: 8px;
    background-color:#14B0AD ;
    color: white;
    font-size: medium;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .profileDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .profileDetails h3{
    margin-left: 80px;
  }
  
  .loggedinCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 25rem;
    margin-top: 130px;
    margin-left: -60px;
    box-shadow:rgba(90, 90, 90, 0) 0px 10px 15px;
  }
  
  .profileDetails{
    padding: 2px;
    line-height: 2px;
  }

  .profileDetails ul{
    list-style-type: none;
    line-height: 10px;
    margin-left: 5px;
  }
  .profileDetails li{
    padding: 2px;
    margin: 2px;
  }

  .profileDetails button{
    width: max-content;
    padding: 8px;
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 8px;
    background-color:rgb(217, 22, 12) ;
    color: white;
    font-size: medium;
    cursor: pointer;
  }

  .profileDetails img{
    width: 20%;
  }


  @media screen and (max-width: 768px){
    .loginPage{
      overflow: hidden;
  }
  
    .logoset img{
      width: 250%;
      height: 88%;
      margin-left: -10rem;
    }
    
    .logoset h1{
      top: 1rem;
      left: 10rem;
    }

    .logoset p{
      top: 1.5rem;
      left: 7rem;
    }
    .loginCard{
      margin-right: -2rem;
    }
  }

  @media screen and (min-width: 325px) and (max-width: 760px){
    .loginPage{
      display: flex;
      flex-direction: column;
    }
    .logoset img{
      width: 150%;
      height: 97%;
      margin-top: 2rem;
      margin-left: -6rem;
    }

    .logoset p{
      left: 2rem;
    }
    .loginCard{
      margin-top: 2rem;
      margin-left: 2.8rem;
    }
  }