.feed{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.feed .head{
    display: flex;
    justify-content: space-between;
}

.feed .user{
    display: flex;
    gap: 1rem;
}

.feed .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .postinputline{
    margin: 70px;
    font-weight: bolder;
    font-size: xx-large;
}

.feed .photo img{
    width: 100%;
    height: 600px;
    margin: 20px;
}

.feed .photo video{
    width: 96%;
    height: 100%;
    margin: 20px;
}

.feed .user .profile-photo{
    border: 3px solid var(--color-primary);
    border-radius: 50%;
}

.feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
    cursor: pointer;
}

.interaction-buttons span{
   margin-right: 0.5rem;
}

.liked-by{
    display: flex;
}

.liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.liked-by span:first-child{
    margin: 0;
}

.liked-by p{
    margin-left: 0.5rem;
}

.commentbox{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1.5rem;
    background: var(--color-white);
    padding:  0.4rem var(--card-padding);
    border-radius: var(--border-radius);
    border: 0.5px solid gray;
}   


.commentSection {
    display: flex;
    gap: 1rem;
    margin: 20px;
    border: 0.5px solid gray;
    border-radius: var(--border-radius);
    padding:  0.4rem var(--card-padding);
    background: var(--color-white);
    width: 80%;
}

.commentSection img{
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    margin-left: -10px;
}

.commentInfo span{
    gap: 1rem;
    padding:  0.2rem;
    font-size:smaller;
    position: relative;
    top: -5px;
}

.commentInfo p{
    padding: 0.2rem;
    color: var(--color-primary);
}

.heartFill{
    width: 1.8rem;
    margin-left: 4rem;
    position: relative;
    top: 1.5rem;
}