main{
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    grid-template-columns: 18vw 53vw 20vw;
    column-gap: 1.3rem;
    position: relative;
}

main .container .left{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
    left: -10rem;
}

main .container .left .profile{
    padding:  var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.left .sidebar{
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

@media screen and (min-width: 325px) and (max-width: 760px){
  .handle{
    display: none;
  }

  main .container{
    display: grid;
    grid-template-columns: 18vw 90vw;
    column-gap: 1.3rem;
    position: relative;
}
  .right{
    display: none;
  }
}