.friend-requests{
    margin-top: 1rem;
}

.friend-requests h4{
    color: var(--color-gray);
    margin: 1rem 0;
}

.request{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.request .action{
    display: flex;
    gap: 1rem;
}