.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate:  all 300ms ease;
    position: relative;
   
}

.left .designer{
    rotate: 90deg;
    position: relative;
    left: -8.5rem;
    top: -1rem;
    font-weight: bold;
}

.left .sidebar a {
    font-weight: 700;
    color: gray;
    display: inline-block;
    position: relative;
    padding: 10px;
  }
  
  .left .sidebar a.active {
    color: red;
  }
  
  .left .sidebar a.active::after {
    position: absolute;
    top: 0;
    content: "";
    width: 3px;
    height: 130%;
    background-color: red;
    margin-left: 10px;
  } 
  

.left .sidebar .menu-item .notifyBar{
    margin-left: 3rem;
}

.left .sidebar .menu-item:hover{
    background:  var(--color-light)
}

.left .sidebar span{
    font-size:  1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar span .notification-count{
    background: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}

/* .left .sidebar .active{
    background-color: var(--color-light);
}

.left .sidebar .active span , .sidebar .active h3{
    color: var(--color-primary);
}

.left .sidebar .active::after{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-border-radius);
   overflow: hidden;
}  

.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
} */

.left .btn{
    margin-top: 1rem;
    width: 80%;
    text-align: center;
    padding: 1rem 0;
    margin-left: 1rem;
}

@media screen and (max-width: 768px){
    .left .sidebar h3{
        font-size: 0.7rem;
        margin-left: 1rem;
    }
    .left .sidebar .btn{
        width: 70%;
        padding: 0 0;
        margin-left: 1.5rem;
    }
    .left .sidebar a{
        margin-left:-1.5rem;
    }

}

@media screen and (min-width: 325px) and (max-width: 760px){
    .left .sidebar a{
        margin-left: -1rem;
    }
    .left .sidebar .btn{
        margin-left: 0.8rem;
    }
    .left .sidebar h3{
       display: none;
    }
}