.profileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
}

.profile-photo-profile{
    border: 3px solid var(--color-primary);
}

.profileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImages > img:nth-of-type(1){
    width: 100%;
}

.profileImages>img:nth-of-type(2){
    width: 5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -2.5rem;
    box-shadow: var(--profileShadow);
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap:10px;
}

.ProfileName > span:nth-of-type(1){
    font-weight: bold;
}

.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.75rem;
}

.followStatus > hr{
    content: "";
    width: 85%;
    border: 1px solid var(--hrColor);
}

.followStatus > div{
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.follow > span:nth-of-type(1){
    font-weight: bold
}

.follow > span:nth-of-type(2){
    color: var(--gray);
    font-size: 13px;
}

.vl{
    content: "";
    width: 200px;
    height: 140%;
    border: 1px solid black;
    position: relative;
    rotate: 90deg;
}

.profileCard .myprofile{
    font-weight: bold;
    color: orange;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-left: 5.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .profileCard{
        width: 150%;
    }
}